{% extends 'base.html' %}

{% block title %}SucSure{% endblock %}

{% block content %}
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Website</div>
      {{object.website}}
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Username</div>
      {{object.username}}
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Passsword</div>
      {{object.password}}
    </div>
  </li>
</ul>
<br>
<a href="{% url 'home' %}">home</a>
<br>
<br>
<br>
{% endblock %}
